{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'zajimavosti/styly.css' %}">
    {% block css %}{% endblock css %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div><a href="{% url 'index' %}">Obsah</a></div>
        <div><a href="{% url 'seznam' %}">Seznam</a></div>
        <div><a href="{% url 'pocasi' %}">Počasí</a></div>
        <div><a href="{% url 'doprava' %}">Doprava</a></div>
        <div><a href="{% url 'pridat1' %}">Přidat 1</a></div>
        <div><a href="{% url 'pridat2' %}">Přidat 2</a></div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        &copy; Moje aplikace - prosím nekopírovat :)
    </footer>
</body>
</html>